body {
    background-color: #161717;
    color: white;
}
.container {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 450px;
}

.header {
    display: flex;
    align-self:flex-start ;
    gap: 20px;
}
.google-btn {
    background-color: #1A73E8;
    border: none;
    border-radius: 5px;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 2px;
    cursor: pointer;
}

.google-btn:hover {
    opacity: 0.5;
}

.google-btn picture {
    width: 35px;
    height: 35px;
    background-color: white;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.google-btn img {
    width: 75%;
}

.google-btn span {
    color: white;
    font-weight: 600;
    padding: 15px;
}

.twitter-btn {
    background-color:#F2F2F2;
    border: none;
    width: 40px;
    border-radius: 5px;
    cursor: pointer;
}

.twitter-btn img {
    width: 75%;
}

.twitter-btn:hover {
    background-color: #d3d3d3;
}

/* Separador */
.horizontal-rule {
    display: flex;
    width: 100%;
    gap: 15px;
}

.horizontal-rule hr {
    flex-grow: 1;
    border: none;
    border-top: 1px solid #ccc;
}

.horizontal-rule span {
    color: #8b8b8b;
}

/* Form */
form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 30px;
}

.section-inputs {
    display: flex;
    gap: 10px;
    width: 100%;
}

label {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

label span {
    font-weight: 600;
}

.section-inputs label input {
    width: 80%;
    background-color: #212121;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    font-size: 1rem;
}

label input {
    width: 90%;
    background-color: #212121;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    font-size: 1rem;
    transition: background-color 0.1s, border 0.1s, box-shadow 0.1s;
}

label input:hover {
    background-color: #454045;
    border: 1px solid #f3f3f4;
    box-shadow: 0 0 4px #eb50ff4f;
}

label input:focus {
    background-color: #454045;
    border: 1px solid #f3f3f4;
    box-shadow: 0 0 4px #eb50ff4f;
}

.checkbox-label {
    display: flex;
    flex-direction: row;
}

.checkbox-label input[type="checkbox"] {
    width: 20px;
}

.checkbox-label span {
    font-weight: 400;
}

.checkbox-label span a {
    text-decoration: none;
}

.submit-btn {
    background-color: #EA4C89;
    color: white;
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
    padding: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.submit-btn:hover {
    opacity: 0.75;
}