* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
}

.container div {
    margin: 3px;
    padding: 10px;
}

.left-bar {
    background-color: cadetblue;
    display: flex; 
    flex-direction: column;
}

.main {
    background-color: cornflowerblue;
    flex-grow: 1;
}

@media screen and (max-width: 640px) {
    .container {
        display: flex;
        flex-direction: column-reverse;
    }
    .left-bar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}
